[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-tracking-analyzer = "*"
djangorestframework = "*"
python-dotenv = "*"
gunicorn = "*"
dj-database-url = "*"
django-user-agents = "*"

[requires]
python_version = "3.7"
