 /*
        common styles for all view port and sm
        
*/
 
 .bg-primary {
     background: #8C0618 !important;
 }
 
 .bg-dark {
     background: rgb(0, 0, 0) !important;
 }
 
 nav {
     height: 100px;
 }
 
 .min-h-100 {
     min-height: 100vh
 }
 
 .overflow-hidden {
     overflow-x: hidden !important;
 }
 
 path:hover {
     stroke: rgb(0, 0, 0);
     fill: #8C0618;
 }
 
 #chart-series-div {
     padding-top: 2rem !important;
 }
 /* Small devices (landscape phones, 576px and up)*/
 
 @media (min-width: 576px) {
     #chart-series-div {
         padding-top: 2rem !important;
     }
 }
 /* Medium devices (tablets, 768px and up) */
 
 @media (min-width: 768px) {}
 /* Large devices (desktops, 992px and up) */
 
 @media (min-width: 992px) {}
 /* Extra large devices (large desktops, 1200px and up) */
 
 @media (min-width: 1200px) {
     #prov-info {
         padding-top: 4rem !important;
     }
 }