body
{
    background-color: black;
}
footer
{
    background-color: #8C0618;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
    height: 7%;
    color: white;
    font-size: small;
}

canvas {
  background-color: white;
}

.donut-chart {
  background-color: white;
  min-height: 100%;
  padding-bottom: 3%;
  
}

#donut-chart, #donut-chart2 {
  padding-bottom: 1%;
}


svg {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

path {
    fill:black;
    stroke: white;
    transition-duration: 0.25s;
}


#PK-IS {
  fill: #d4d4d4;
}

#PK-AK {
fill: #585858;
}


/* Tab select buttons */
.tabs-btn-group {
  background-color: #c8a95f;
  font-size: 16px;
}
.tabs-btn-group button {
  background-color: #59030E; /* Green background */
  border: none;
  height: 3em;
  color: white; /* White text */
  padding: 0px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.tabs-btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.tabs-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.tabs-btn-group button:hover {
  color: #c8a95f;
}

.tabs-btn-group button:focus {
  outline: none;
  background-color: #8C0618;
}
/* End of Tabs Button Group */

.common-symp-column {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 15px;
  padding-bottom: 10px;
}

.other-symp-column {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 15px;
  padding-bottom: 10px;
}

.buttons-heading {
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  background-color: #8C0618;
  color: white;
}

.custom {
  background-color: #ffcc66 !important;
  color: black !important;
  font-size: 12px !important;
  border-radius: 0;
  width: 50%;
}

.custom:hover {
  background-color: #fcc149 !important;
  color: black !important;
}

.custom:checked, .custom:active {
  background-color: #fcc149 !important;
  color: black !important;
}

#emergency, #symptoms, #precautions {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#trend-section, #trend-section2{
  background-color: #c8a95f;
  /*margin-bottom: 15%;*/
}


.view-more button{
  color: white;
  margin-top: 2%;
  background-color: #8C0618;
  border:  #8C0618;
  
}
.view-more button:hover{
  color: #c8a95f;
}
.view-more button:focus,.view-more button:active {
  outline: none !important;
  box-shadow: none;
}
#prediction-details{
  background-color: #c8a95f;
  padding-bottom: 15px;
  /* display: none; */
}

.slidecontainer {
  width: 100%;
  text-align: center;
}


.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  margin-top: 2%;
}

.slider-marker {
  padding-top: 15px;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: #8C0618;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 25px; 
  background: #8C0618;
  cursor: pointer;
}

#precautions_content ul li {
  padding-bottom: 2%;
}

svg text {
  font-weight: 500;
}

.content {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: left;
  display:none;
  background-color: #8C0618;
  color: white;
}

.acknowledgements-row {
  background-color: #8C0618;
  margin-top: 10%;
}

.acknowledgements-heading {
  padding-top: 10px;
  padding-bottom: 2%;
  width: 100%;
  height: 100%;
  
  background-color: #ffffff;
  color: #8C0618;
  font-size: 20px;
  text-align: center;
}

.contributors {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  
  background-color: #c8a95f;
  color: #36332D;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contributor-heading {
  font-weight: 700;
  font-size: 18px;
}

.contributor-div {
  margin-left: 4%;
  margin-right: 4%;
}

.contributors-content {
  text-align: center;
  font-size: 12px;
  padding-top: 1%;
}

.left-col {
  padding-right: 50px;
}

table td {
  white-space: nowrap;
  vertical-align: top;
  padding-bottom: 2%;
}

table, th, tr, td {
  border-collapse: separate;
  width: 100%;
}

table th {
  text-align: center;
  padding-bottom: 8%;
  padding-left: 2%;
  padding-right: 2%;
}

.general-info-seg {
  background-color: #c8a95f;
  color: #36332D;
  padding-top: 3%;
  padding-bottom: 5%;
  text-align: center;
}

.general-info-heading {
  text-align: center;
  font-size: 20px;
  padding-bottom: 3%;
}

.details-section {
  margin-top: 2%;
  margin-bottom: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.details-graph {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accuracy-graph {
  margin-top: 2%;
  margin-bottom: 2%;
}

#trend-graph, #prediction-graph, #city-graph, #prediction-accuracy-graph{
  margin-top: 1%;
  margin-bottom: 1%;
}

#footer-text {
  font-size: 100%;
}

.top-bottom-padded {
  padding-top: 3%;
  
}

#general-stats {
  margin-left: 0;
  margin-right: 5%;
}


#tip {
  color: white;
  float: right;
  font-size: 14px;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #fff;
	color: #000;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

#tooltip {
	background: cornsilk;
	border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
}

.heading{
	font-family:"Calibri";
	font-size: 20px;
	font-weight: bold;
	/*margin: 0 auto;*/
}

.padded-row {
    padding-top: 10px;
    
}

.stats{
	color: #FFFFFF;
}

.chart-div {
  background-color: white !important;
}

label {
  display: block;
  overflow: hidden;
  
}

input[type=checkbox] {
  vertical-align: middle;
  float: right;
}

.reduce-top-bottom-padding {
  padding-top: 3%;
  padding-bottom: 1%;
}

.padding-bottom {
  padding-bottom: 2%;
}

.card {
  background-color: #8C0618;
  color: white;
}

.card-header {
  font-weight: bold;
}

.list-group-item {
  background-color: white;
  color: #8C0618;
  font-weight: 600;
}

.styled-input{
	border: none;
	border-bottom: 2px solid #8C0618;
	margin-left: 2%;
}

.form-control {
  display:inline-block;
  width:90%;
  margin: 2%;
}

#submit-form{
	background-color: #8C0618;
	border: #8C0618;
}

#submit-form:hover{
	background-color: #6e0413;
	border: #8C0618;
}

#submit-form:checked, #submit-form:active, #submit-form:focus{
	background-color: #6e0413;
	border-color: #8C0618;
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
	
  
}

.tutorial-modal-button {
  background-color: #8C0618;
  color: white;
}

.tutorial-modal-button:hover {
  background-color: #fcc149;
}

.margin-row{
	/*margin-bottom: 10% !important;*/
	margin-bottom:0;
}

.table.table-hover.table-sm > thead > tr > th{
	color: #fff;
	background-color: #8C0618;
	border-color: #333;
}

.table.table-hover.table-sm > tbody > tr > th{
	border-color: #333;
}

.table.table-hover.table-sm > tbody > tr > td{
	border-color: #333;
}


/* Symptoms section */
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    position: relative;
}
#accordion .panel-heading{
    padding: 0;
    position: relative;
}
#accordion .panel-heading:before{
    content: "";
    width: 1px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 60px;
    z-index: 1;
}
#accordion .panel-heading:after{
    content: "";
    border-left: 15px solid #bcb6b9;
    /*border-top: 15px solid #fff;*/
    border-right: 15px solid #fff;
    position: absolute;
    top: 0;
    right: -15px;
}
#accordion .panel-title a{
    display: block;
    /*padding: 15px 20px;*/
	padding: 3% 10%;
    background: #412333;
    border: none;
    font-size: 20px;
    color: #fff;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    text-align: center;
    position: relative;
}
#accordion .panel-title-heading a{
    display: block;
    padding: 15px 20px;
    background: #412333;
    border: none;
    font-size: 20px;
    color: #fff;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    text-align: center;
    position: relative;
}


#accordion .panel-title a:before, #accordion .panel-title a.collapsed:before{
    content: "\f068";
    font-family: FontAwesome;
    font-weight: 900;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #dd7230;
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 13px;
    right: 17px;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:before{ content: "\f067"; }

#accordion .panel-body{
    padding: 10px 20px;
    border: none;
    background: #c8a95f;
    font-size: 15px;
    color: #36332D;
    line-height: 28px;
	margin-bottom: 2%;
}


/*fact checking section */
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion2 .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 10px;
    overflow: hidden;
    position: relative;
}
#accordion2 .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}
#accordion2 .panel-heading:before,
#accordion2 .panel-heading:after{
    content: "";
    width: 50%;
    height: 20%;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 15px;
    left: 10px;
    transform: rotate(-3deg);
    z-index: -1;
}
#accordion2 .panel-heading:after{
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
#accordion2 .panel-title a{
    display: block;
    padding: 15px 5px 15px 25px;
    margin: 0;
    background: #fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #d11149;
    border-radius: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
	display: flex;
	justify-content: space-between;
}

#accordion2 .panel-title a:before,
#accordion2 .panel-title a.collapsed:before{
    content: "\f106";
    font-family: FontAwesome;
    font-weight: 900;
    width: 4%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    border-left: 2px solid #36332D;
    position: absolute;
    top: 0;
    right: 27%;
	

}
#accordion2 .panel-title a.collapsed:before{ content: "\f107"; }

#accordion2 .panel-body{
    padding: 10px 20px;
    margin: 0 0 20px;
    border-bottom: 3px solid #36332D;
    border-top: none;
    background: #fff;
    font-size: 15px;
    color: #333;
    line-height: 27px;
}

.fact-subheading{
	text-align:center;
	color: #333;
	margin: 2%;
}

.fact-truth{
	width: 30%;
	text-align: center;
}

#accordion2 .panel-title .fact-true{
	color: #36332D;
	background: linear-gradient(to right, rgba(255,255,255,255) 69%,rgba(255,255,255,255) 20%,rgba(127, 166, 46, 1) 0%,rgba(127, 166, 46, 1) 100%);
}

#accordion2 .panel-title .fact-somewhat-true{
	color: #36332D;
	background: linear-gradient(to right, rgba(255,255,255,255) 69%,rgba(255,255,255,255) 20%,rgba(154, 166, 46, 1) 0%,rgba(215, 170, 0, 1) 100%);
}

#accordion2 .panel-title .fact-false{
	color: #36332D;
	background: linear-gradient(to right, rgba(255,255,255,255) 69%,rgba(255,255,255,255) 20%,rgba(221,61,70, 1) 0%,rgba(221,61,70, 1) 100%);
}

#accordion2 .panel-title .fact-unsure{
	color: #36332D;
	background: linear-gradient(to right, rgba(255,255,255,255) 69%,rgba(255,255,255,255) 20%,rgba(221,61,70, 1) 0%,rgba(154, 166, 46, 1) 100%);
}

.new-div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.headings-container{
	overflow:hidden;
}

.fancy {
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 2px solid #8C0618;
  border-top: 2px solid #8C0618;
  top: 45%;
  width: 40%;
}

h2#data.fancy span:before, h2#data.fancy span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 2px solid #8C0618;
  border-top: 2px solid #8C0618;
  top: 45%;
  width: 100%;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.details{
	position: relative;
	margin-bottom: 3%;
}


@media only screen and (max-width: 768px) {
	.stats{
		width: 33%;
	}
	/*span.top {
	  width: 50px;
	  top: 20px;
	}
	span.bottom {
	  width: 90px;
	  top: 35px;
	}
	span.left {
	  transform: translate(-190px, 15px);
	}
	span.bottom.left {
	  transform: translate(-230px, 15px);
	}
	span.right {
	  transform: translate(140px, 15px);
	}*/
}